* {
    margin:0;
    padding:0,
}

body {
    min-height: 100vh;
    background-color: #090c31;
    display:flex;
    justify-content:center;
    align-items: center;
}
.calculadora {
    background-color: #15173c;
    color:white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:0.5rem;
}
.pantalla {
    grid-column: 1/5;
    background-color: #090c31;
    padding:1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}
.btn {
    background-color: #15173c;
    color:white;
    border:0;
    padding:1.5rem .5rem;
    display:flex;
    justify-content: center;
    align-self: center;
    border-radius: .5rem;
}
.btn:hover {
    background-color: #090c31;
}
#cero {
    grid-column: span 2;
}
#igual {
    grid-row: span 2;
    background-color: rgb(215, 9, 9);
    padding: 60px 8px 60px 8px;
}

#igual:hover {
    background-color: #4b3437;
}
#container {
    background-color: white;
    grid-column-start: 4;
    margin-left: 50px;
    height: 12.5px;
    width: 25px;
    border-radius: 2rem;
    border-width: 1rem;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    
}
.toggle {
    background-color: #090c31;
    grid-column-start: 5;
    position: absolute;
    margin-left: 1px;
    height: 12.5px;
    width: 12.5px;
    border-radius: 25px;
    cursor: pointer;
}
#container.active  .toggle {
    left: 694px;
}
body.active {
    background-color: white;
}